/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
a {
    text-decoration: none;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fff;
    /*
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    */
    background-attachment:fixed;
    font-family: 'Lobster Two', cursive;
    position: absolute;
    font-size:14px;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}
@font-face {
    font-family:"Oleo Script";
    src: url("../fonts/OleoScript-Regular.ttf") /* TTF file for CSS3 browsers */
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    height:940px;                   /* text area height */
    width:640px;                   /* text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {

    }
}


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

@font-face {
    font-family: 'ledmedium_italic';
    src: url('./led-mediumitalic-webfont.eot');
    src: url('./led-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('./led-mediumitalic-webfont.woff') format('woff'),
    url('./led-mediumitalic-webfont.ttf') format('truetype'),
    url('./led-mediumitalic-webfont.svg#ledmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'redin-regularregular';
    src: url('./redin-regular-webfont.eot');
    src: url('./redin-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('./redin-regular-webfont.woff') format('woff'),
    url('./redin-regular-webfont.ttf') format('truetype'),
    url('./redin-regular-webfont.svg#redin-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.oneline{
    position:relative;
    display:block;
    height:128px;
    width:100%;
}
.lineup{
    position:relative;
    top:-128px;
    left:0;
}
.knop{
    position:relative;
    left:0;
    top:0;
    width:128px;
    height:128px;
    margin:0;
    padding:0;
    border:none;
}
.knopsmall{
    position: relative;
    left:0;
    top:0;
    float: left;
    width: 128px;
    height: 128px;
    background: url('./knopall.png') repeat -128px -128px;
}
.knophor{
    position: relative;
    float: left;
    width: 256px;
    height: 128px;
    background: url('././knopall.png') repeat -128px 0;
}
.knopvert{
    position: relative;
    float: left;
    width: 128px;
    height: 256px;
    background: url('././knopall.png') repeat 0 0;
}
.display{
    width:100%;
    height:110px;
    margin:0;
    background-color:#000;
    color:#e00;
    font-family: "ledmedium_italic";
    font-size: 80px;
    text-align:right;
    padding-top:18px;
    padding-right:14px;
    /*
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    */
}
.keypad{
    position:relative;
    left:0;
    top:0;
    margin:0;
    padding:0;
}
.cijfer{
    font-family: 'redin-regularregular';	position: absolute;
    width: 128px;
    height:128px;
    margin-left: -64px;
    margin-top: -64px;
    font-size: 35px;
    color: #fff;
    line-height:128px;
    left:50%;
    top: 50%;
    text-align:center;
    text-shadow: -2px 0 0 rgba(0,0,0,0.3);
}

.orange{
    background-color: #f70;
}
.grey{
    background-color: #f4f0f0;
}
.black{
    background-color: #333;
}
.blue{
    background-color: #3bf;
}
.red{
    background-color: #e00;
}
#settings{
    font-size:40px;
    padding:10px 0 0 20px;
    position:relative;
    left:0;
    top:0;
    with:100%;
    height:128px;
    background-color:#e5e5e5;

}

#cord{
    visibility: hidden;
}
#o_cord{
    visibility: hidden;
}

.controls{
    left: 0;
    width: 95%;
    margin-top:1.5%;
    margin-left: 15px;
}

.bar{
    position: absolute;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #999;
    height: 16px;
    width: 100%;
    font-family: 'Oleo Script', cursive;
    font-size: 11px;
    padding-left: 2px;

}
.o_bar{
    position: absolute;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid #999;
    height: 16px;
    width: 100%;
    font-family: 'Oleo Script', cursive;
    font-size: 11px;
    padding-left: 2px;

}


#barsv, #barsh{
    position: absolute;
    left: 0;
    top: 0;
}
#barsh{
    width: 100%;
}
.vbar{
    position: absolute;
    border: none;
    border-left: 0px solid #999;
    1px solid #333;
    width: 16px;
}
#vbar0{
    border-right: 1px solid #999;

}


#o_barsv, #o_barsh{
    position: absolute;
    left: 0;
    top: 0;
}
#o_barsh{
    width: 100%;
}
.o_vbar{
    position: absolute;
    border: none;
    border-left: 0px solid #999;
    1px solid #333;
    width: 16px;
}
#o_vbar0{
    border-right: 1px solid #999;
}
/*
.bar:hover{
	background-color:#fff0f0;
}
*/
.noot{
    cursor: pointer;
    background-color: #7FA37D;
    position: absolute;
    width: 16px;
    height:12px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-top: 4px;
}
.o_noot{
    cursor: pointer;
    background-color: #7190A0;
    position: absolute;
    width: 16px;
    height:12px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    -khtml-border-radius: 16px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-top: 4px;
}
.nmoved{
    background-color: #ff6600;
}
.nplayed{
    background-color: #AF9660;
}
.nreset{
    background-color: #ff6600;
}

#playhead{
    position: absolute;
    background-color: #363129;
    left: 0;
    top: 0;
    width: 20px;
    height:200px;
    border: none;
    background: -webkit-linear-gradient(left, rgba(54,49,41,0) , rgba(54,49,41,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(54,49,41,0) , rgba(54,49,41,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(54,49,41,0) , rgba(54,49,41,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(54,49,41,0) , rgba(54,49,41,0.8));
}
#o_playhead{
    position: absolute;
    background-color: #363129;
    left: 0;
    top: 0;
    width: 20px;
    height:200px;
    border: none;
    background: -webkit-linear-gradient(left, rgba(54,49,41,0) , rgba(54,49,41,0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(54,49,41,0) , rgba(54,49,41,0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(54,49,41,0) , rgba(54,49,41,0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(54,49,41,0) , rgba(54,49,41,0.8));
}
.transparent{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
.button{
    text-transform: uppercase;
    color: #7FA37D;
    float: left;
    width: auto;
    cursor: pointer;
    background-color: rgba(255,255,255,0);/*#ff6600*/
    padding: 8px;
    margin-right: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 20px;
    border: 1.5pt solid #AF9661;
    font-family: 'Oleo Script', cursive;
    font-size: 12px;
}
#o_speel, #o_mclear{
    color:#7190A0;
}
.button:hover{
    background-color: rgba(255,255,255,0);/*#ff9933*/
}
.disabled{
    color: #666;
    background-color: #ccc;

}
form input{
    color: #000 !important;
    font-size: 12px;
    width: 300px;
    height: 16px;
    padding: 4px 6px 4px 8px;
    border: none;
    background-color: #ccc;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.popinModal{
    background-image:url('../img/pc70b.png');
    background-repeat:repeat;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    margin:0;
    padding:0;
    z-index:9998;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* Netscape */
    -moz-opacity: 0;
    /* Safari 1.x */
    -khtml-opacity: 0;
    /* Good browsers */
    opacity: 0;
}
.popin{
    position:absolute;
    width:500px;
    top:50%;
    left:50%;
    margin-left:-200px;
    margin-top:-200px;
    color:#fff;
    z-index:9999;
}
.poptitle{
    background-color: #ff6600;
    position:relative;
    top:0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -khtml-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    position:relative;
    top:0px;
    width:100%;
    height:70px;
    margin:0;
    padding: 0;
}
.titlecontent .titlemain{
    position:absolute;
    left:20px;
    top:18px;
    font-size:20px;
    text-transform:uppercase;
    height:20px;
}
.titlecontent .titlesub{
    font-weight: 400;
    position:absolute;
    top:38px;
    left:20px;
    padding:0;
}

#popclose{
    cursor:pointer;
    margin:0;
    padding:0;
    position:absolute;
    top:24px;
    right:20px;
    background-image:url('../img/closer.png');
    width:22px;
    height:22px;
}
#popcontent{
    width: 500px;
    position: absolute;
    top: 70px;
    margin-top: 0;
    background-color: #f7f7f7;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -khtml-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
#popcontent p{
    font-size: 16px;
    color: #444;
    padding:15px 20px 30px 20px;
}
/* small buttons */
.plainbutton{
    font-size: 20px;
    position:absolute;
    right:20px;
    bottom: 15px;
    text-decoration:none;
    text-transform: uppercase;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:#000;
    background-color:#ff6600;
    padding:3px 10px 3px 10px;
}
.plainbutton:hover{
    color:#FFFFFF;
    background-color:#ff9933;
}
.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.your-version{
    width: 100%;
    position: relative;
    border: 1px solid #999;
    height: 255px;
    border-radius: 10px;
}

.origin-version{
    width: 100%;
    position: relative;
    border: 1px solid #999;
    height: 255px;

    border-radius: 10px;

}