@charset "utf-8";
*{margin:0 auto;}
.body{width:100%; height:1000px; background:url(../img/background.png) no-repeat center; background-size:100% 100%}

.nav ul{width:100%; height:68px; list-style:none; margin:auto}
.nav li{float:right; display:block; padding:0 55px; margin-top:50px;}
.nav .li1{ margin-right: 330px;}
.nav a{ text-decoration:none; color:#FFFFFF; font-weight:normal; font-family:"mrs-eaves-roman-small-caps";
    font-size:20px;}
.nav a:hover{ color:#FFFFFF; text-decoration:underline;}

.mb {
	width:100%;
	height:auto;
    overflow: hidden;	
}

.mb2 {
	width: 100%;
	height: auto;
	background-color: rgb(045,040,034);
	position:relative;
    margin-top: 575px;
    padding-top: 160px;
}

.text p{
    font-family: "brim-narrow-combined-1",sans-serif;
    font-size: 90px;
    color: #FFF;
}
.text {
    padding-left: 33%;
    padding-top: 17%;
}

.jump_arrow a img {
    display: inline-block;
    width: 40px;
    padding-left: 48%;
    padding-top: 20%;
    animation: myfirst 2s infinite;
}
@keyframes myfirst {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -15px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

#slide {
    margin: 0 auto;
    width: 290px;
    height: 610px;
    position: relative;
  }

#slide li {
    position: absolute;
    width: 290px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    background: rgb(045,040,034);
    overflow: hidden;
    box-shadow: 0 0 20px rgb(045,040,034);

}

#slide li img {
    width: 100%;
    height: 100%;
}

.arrow .prev,
.arrow .next {
    position: absolute;
    width: 64px;
    top: 30%;
    z-index: 9;
    font: 700 96px 'simsun';
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
}

.arrow .prev {
    left: -330px;
}

.arrow .next {
    right: -330px;
}

.arrow .prev:hover,
.arrow .next:hover {
    color: #00a0e9;
    opacity: .7;
}