@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    background: rgb(045,040,034);
}

.home-cover{
    position:absolute;
    height:100vh;
    width:100%;
    display: block;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:url(../img/background.png) no-repeat center;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

.nav{
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    width:90%;
    overflow:hidden;
    text-align:center;
}
.nav a{
    text-decoration:none;
    font-family: "mrs-eaves-roman-small-caps","Kozuka Gothic Pro M",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:18px;
}
.nav a:hover{ color:#FFFFFF; text-decoration:underline;}
.nav ul{
    padding: 0;
}
.nav ul li{
    display:inline-block;
    width:18%;
    list-style:none;
    position: relative;
    text-align:center;
    margin: 5px;
}
.nav ul li img{
    width:100%;
    height:auto;
    vertical-align: middle;
}
.nav ul li a{
    text-align:center;
    color: white;
    font-size:20px;
    display: block;
}
.nav ul li a.active{
    color:#AF9661;
}

.mb {
	width:100%;
    overflow: hidden;
    margin-top:100vh;
}

.mb2 {
	width: 100%;
	height: auto;
	background-color: rgb(045,040,034);
	position:relative;
    padding-top: 160px;

}

.text p{
    font-family: "brim-narrow-combined-1",sans-serif;
    font-size: 90px;
    text-align: center;
    color: #FFF;
}
.text {
    margin: auto;
    width: 50%;
    padding-top: 25vh;
}
.jump_arrow{
    margin:auto;
    width:5%;
}

.jump_arrow img {
    display: inline-block;
    width: 40px;
    text-align: center;
    animation: myfirst 2s infinite;
    cursor: pointer;
}
@keyframes myfirst {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, -15px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

#slide {
    margin: 0 auto;
    width: 290px;
    height: 610px;
    position: relative;
  }

#slide li {
    position: absolute;
    width: 290px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    background: rgb(045,040,034);
    overflow: hidden;
    box-shadow: 0 0 20px rgb(045,040,034);

}

#slide li img {
    width: 100%;
    height: 100%;
}

.arrow .prev,
.arrow .next {
    position: absolute;
    width: 64px;
    top: 30%;
    z-index: 9;
    font: 700 96px 'simsun';
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
}

.arrow .prev {
    left: -330px;
}

.arrow .next {
    right: -330px;
}

.arrow .prev:hover,
.arrow .next:hover {
    color: #00a0e9;
    opacity: .7;
}
.mb h2{
    width:50%;
    margin:auto;
    margin-top: 40px;
    text-align: center;
    font-family: "mrs-eaves-roman-small-caps","Kozuka Gothic Pro M",sans-serif;
    font-size:50px;
    color:#AF9661;
}
.btn_click{
    color: #AF9661;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
    margin-left: 100vh;
}
.btn_click:hover{
    color:#fff;
    cursor:pointer;
}
