body,html{
    margin:0;
    padding:0;
}

.layer {
    background-color: rgba(107, 80, 53,0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:5;
}
.background{
    height:100%;
    width:100%;
}

#sharebox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    background: -webkit-radial-gradient(rgb(248,200,128), rgb(255,220,148), rgb(248,200,128)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgb(248,200,128), rgb(255,220,148), rgb(248,200,128)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgb(248,200,128), rgb(255,220,148), rgb(248,200,128)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgb(248,200,128), rgb(255,220,148), rgb(248,200,128)); /* Standard syntax (must be last) */

    margin:auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 670px;
    width: 400px;
    height: 200px;
    border-radius: 3px;
    display: none;
    z-index: 10;
}

.wrapper{
    width: 33.33%;
    height: 100%;
    float: left;
    position: relative;
}

.icon{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0; left: 0; bottom: 100px; right: 0;
    margin:auto;
    color: #212121;
    background: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    font-family: Arial;
    cursor: pointer;
    transition:1s;
    overflow: hidden;
}

.icon:hover{
    color: #fff;
    transform: scale(1.15);
    transition:1s;
    transform: rotate(360deg) scale(1.15);
    transition: 1s;
}
a{
    text-decoration: none;
}
#facebook:hover{
    background-color: #3b5998;
    box-shadow: inset 0 0 0 22px #3b5998;
    color: #fff;
}
#twitter:hover{
    background: #00aced;
    box-shadow: inset 0 0 0 22px #00aced;;
}
#google:hover{
    background: #dd4b39;
    box-shadow: inset 0 0 0 22px #dd4b39;
}
.share-title{
    margin: auto;
    text-align: center;
}
.share-title h3{
    text-align: center;
}
.share-name{
    margin-top:80px;
}
.share-name h4{
    text-align: center;
}



